# #######################
# Binaries & build
*.exe
*.exe~
build/

# #######################
# Database & It's Schema
config/db.sqlite3

pkg/database/ent/*
!pkg/database/ent/schema

# #######################
# Some files & folders
config/dll
make

# #######################
